---
import Img from '@/components/ui/Img.astro'
import type { Customer, CustomerLogosBlock, Media } from 'cms/src/payload-types'

export type Props = CustomerLogosBlock

const { customers } = Astro.props
---

<div class="relative -mx-4 w-[calc(100%+2rem)] overflow-hidden md:mx-0 md:w-full">
  <div
    class="flex animate-[scroll_20s_linear_infinite] flex-row gap-12 md:animate-none md:flex-col"
  >
    {
      [customers?.slice(0, 5), customers?.slice(5, 9), customers?.slice(9, 12)].map(
        (rowCustomers) => (
          <div class="flex flex-row items-center justify-center gap-8 md:gap-12">
            {rowCustomers?.filter(Boolean).map((customer) => {
              const logo = (customer as Customer).logo as Media

              return (
                <Img
                  image={logo}
                  size="original"
                  width={100}
                  class="max-w-[100px] overflow-hidden opacity-75 grayscale [filter:brightness(0)]"
                />
              )
            })}
          </div>
        ),
      )
    }
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
