---
import type { FeaturedProjectsListBlock, Project } from 'cms/src/payload-types'
import ProjectCard from '../ProjectCard.astro'

export type Props = FeaturedProjectsListBlock

const projects = Astro.props.projects as Project[]
---

<div class="flex flex-col gap-24">
  {projects?.map((project, index) => <ProjectCard {...project} index={index} featured />)}
</div>
