---
import { globalState } from '@/globalState'
import type { Article } from 'cms/src/payload-types'

type Props = {
  tags: Article['tags']
  class?: string
}

const { tags, class: className } = Astro.props
const { translations } = globalState
---

<div class:list={['flex flex-wrap gap-2', className]}>
  {
    tags?.map((tag) => (
      <span class="max-h-fit rounded-md bg-gray-200 px-2 py-1 text-sm font-medium text-gray-700">
        {translations.articles[tag]}
      </span>
    ))
  }
</div>
