---
import type { Breadcrumbs } from 'cms/src/payload-types'
import Icon from '../icons/Icon.astro'
import Link from './Link.astro'
import { breadcrumbsSchema } from '@/utils/schema/breadcrumbs'
import { Schema } from 'astro-seo-schema'

type Props = {
  crumbs: Breadcrumbs
  displayMode?: 'all' | 'lastOnly'
}

const { crumbs, displayMode = 'lastOnly' } = Astro.props

// Generate structured data using the schema function
const schema = breadcrumbsSchema(crumbs)
---

{
  displayMode === 'all' && (
    <nav aria-label="breadcrumbs">
      <ol class:list={['flex flex-row items-center justify-center gap-2 text-sm text-slate-500']}>
        {crumbs
          .map(({ label, path }, index, array) => (
            <li>
              <Link
                path={path}
                style="text"
                class="!py-2 text-sm !font-medium text-slate-500 uppercase"
                aria-current={index + 1 === array.length ? 'location' : false}
              >
                {label}
              </Link>
            </li>
          ))
          .reduce((prev, curr) => [
            prev,
            <span aria-hidden class="text-secondary">
              /
            </span>,
            curr,
          ])}
      </ol>
    </nav>
  )
}

{
  displayMode === 'lastOnly' && crumbs.length > 1 && (
    <nav aria-label="breadcrumbs">
      <ol class:list={['flex flex-row justify-center gap-2 text-sm text-slate-500']}>
        <li>
          <Link
            path={crumbs[crumbs.length - 2].path}
            style="text"
            class="flex items-center gap-1 !py-2 text-sm !font-medium text-slate-500 uppercase"
          >
            <Icon name="chevron-left" class:list={['h-3 w-3']} />
            {crumbs[crumbs.length - 2].label}
          </Link>
        </li>
      </ol>
    </nav>
  )
}
<Schema item={schema} />
