---
import { globalState } from '@/globalState'
import { normalizePath } from '@/utils/normalizePath'
import { SITE_URL } from 'astro:env/client'
import type { Breadcrumbs } from 'cms/src/payload-types'
import Icon from '../icons/Icon.astro'
import Link from './Link.astro'

type Props = {
  crumbs: Breadcrumbs
  displayMode?: 'all' | 'lastOnly'
}

const { crumbs, displayMode = 'lastOnly' } = Astro.props
const { preview } = globalState

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: crumbs.map((part, index) => ({
    '@type': 'ListItem',
    item: SITE_URL + part.path,
    name: part.label,
    position: index + 1,
  })),
}

const structuredDataScript = JSON.stringify(structuredData, null, 2)
---

{
  displayMode === 'all' && (
    <nav aria-label="breadcrumbs">
      <ol class:list={['flex flex-row items-center justify-center gap-2 text-sm text-slate-500']}>
        {crumbs
          .map(({ label, path }, index, array) => (
            <li>
              <Link
                path={path}
                style="text"
                class="!py-2 text-sm !font-medium text-slate-500 uppercase"
                aria-current={index + 1 === array.length ? 'location' : false}
              >
                {label}
              </Link>
            </li>
          ))
          .reduce((prev, curr) => [
            prev,
            <span aria-hidden class="text-secondary">
              /
            </span>,
            curr,
          ])}
      </ol>
    </nav>
  )
}

{
  displayMode === 'lastOnly' && (
    <nav aria-label="breadcrumbs">
      <ol class:list={['flex flex-row justify-center gap-2 text-sm text-slate-500']}>
        {crumbs.length > 1 && (
          <li>
            <a
              href={normalizePath(crumbs[crumbs.length - 2].path, preview)}
              class="flex items-center gap-1"
            >
              <Link
                path={crumbs[crumbs.length - 2].path}
                style="text"
                class="!py-2 text-sm !font-medium text-slate-500 uppercase"
              >
                <Icon name="chevron-left" class:list={['h-3 w-3']} />
                {crumbs[crumbs.length - 2].label}
              </Link>
            </a>
          </li>
        )}
      </ol>
    </nav>
  )
}
{(<script is:inline type="application/ld+json" set:html={structuredDataScript} />)}
