---
import type {
  CustomerLogosBlock as CustomerLogosBlockType,
  Page,
  ServicesBlock as ServicesBlockType,
  TestimonialsBlock as TestimonialsBlockType,
} from 'cms/src/payload-types'
import CustomerLogosBlock from './blocks/CustomerLogosBlock.astro'
import ServicesBlock from './blocks/ServicesBlock.astro'
import TestimonialsBlock from './blocks/TestimonialsBlock.astro'

export type Props = NonNullable<NonNullable<Page['sections']>[number]['blocks']>[number]

const { blockType, ...props } = Astro.props
---

{
  () => {
    switch (blockType) {
      case 'rich-text':
        return <p>RichTextBlock</p>
      case 'services':
        return <ServicesBlock {...(props as ServicesBlockType)} />
      case 'testimonials':
        return <TestimonialsBlock {...(props as TestimonialsBlockType)} />
      case 'customer-logos':
        return <CustomerLogosBlock {...(props as CustomerLogosBlockType)} />
      case 'featured-projects-list':
        return <p>FeaturedProjectsListBlock</p>
      case 'projects-list':
        return <p>ProjectsListBlock</p>
      default:
        return <p>UnknownBlock</p>
    }
  }
}
