---
import type {
  CustomerLogosBlock as CustomerLogosBlockType,
  Page,
  RichTextBlock as RichTextBlockType,
  ServicesBlock as ServicesBlockType,
  TestimonialsBlock as TestimonialsBlockType,
  FeaturedProjectsListBlock as FeaturedProjectsListBlockType,
} from 'cms/src/payload-types'
import CustomerLogosBlock from './blocks/CustomerLogosBlock.astro'
import RichTextBlock from './blocks/RichTextBlock/RichTextBlock.astro'
import ServicesBlock from './blocks/ServicesBlock.astro'
import TestimonialsBlock from './blocks/TestimonialsBlock.astro'
import FeaturedProjectsListBlock from './blocks/FeaturedProjectsListBlock.astro'

export type Props = NonNullable<NonNullable<Page['sections']>[number]['blocks']>[number]

const { blockType, ...props } = Astro.props
---

{
  () => {
    switch (blockType) {
      case 'rich-text':
        return <RichTextBlock {...(props as RichTextBlockType)} />
      case 'services':
        return <ServicesBlock {...(props as ServicesBlockType)} />
      case 'testimonials':
        return <TestimonialsBlock {...(props as TestimonialsBlockType)} />
      case 'customer-logos':
        return <CustomerLogosBlock {...(props as CustomerLogosBlockType)} />
      case 'featured-projects-list':
        return <FeaturedProjectsListBlock {...(props as FeaturedProjectsListBlockType)} />
      case 'projects-list':
        return <p>ProjectsListBlock</p>
      default:
        return <p>UnknownBlock</p>
    }
  }
}
