---
import Card from './Card.astro'
import type { Customer, Media, Project, Testimonial } from 'cms/src/payload-types'

export type Props = Testimonial

const { project, author, text } = Astro.props

// TODO: make sure that the project and customer are populated
---

<Card class="space-y-4">
  <div class="flex flex-row items-center gap-5">
    <img
      src={(author.image as Media).cloudinaryURL}
      class="m-0 aspect-square rounded-full"
      width={75}
      height={75}
      alt={(author.image as Media).alt}
    />

    <div>
      <div class="font-bold">{author.name}</div>
      <div class="not-prose">
        <a
          href={((project as Project).customer as Customer).websiteUrl}
          class="flex flex-row items-center gap-2 text-sm text-gray-500"
        >
          <!-- <FontAwesomeIcon icon={faBuilding} /> -->
          {((project as Project).customer as Customer).name}
        </a>
      </div>
    </div>
  </div>

  <p class="mb-0">{text}</p>
</Card>
