---
import { CldImage } from 'astro-cloudinary'
import type { Customer, Media, Project, Testimonial } from 'cms/src/payload-types'
import Card from './Card.astro'

export type Props = Testimonial

const { project, author, text } = Astro.props
---

<Card class="space-y-4">
  <div class="flex flex-row items-center gap-5">
    <CldImage
      src={(author.image as Media).cloudinaryPublicId!}
      class="m-0 aspect-square !h-16 !w-16 rounded-full"
      width={200}
      height={200}
      alt={(author.image as Media).alt}
    />

    <div>
      <div class="font-bold">{author.name}</div>
      <div class="not-prose">
        <a
          href={((project as Project).customer as Customer).websiteUrl}
          class="flex flex-row items-center gap-2 text-sm text-gray-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="h-3 w-3 fill-gray-500"
          >
            <path
              d="M436 480h-20V24c0-13.3-10.7-24-24-24H56C42.7 0 32 10.7 32 24v456H12c-6.6 0-12 5.4-12 12v20h448v-20c0-6.6-5.4-12-12-12zM128 76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V76zm0 96c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm52 148h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm76 160h-64v-84c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v84zm64-172c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"
            ></path></svg
          >
          {((project as Project).customer as Customer).name}
        </a>
      </div>
    </div>
  </div>

  <p class="mb-0">{text}</p>
</Card>
