---
import type { Customer, Project, Testimonial } from 'cms/src/payload-types'
import Icon from '../icons/Icon.astro'
import Img from '../Img.astro'
import Card from './Card.astro'

export type Props = Testimonial

const { project, author, text } = Astro.props
---

<Card class="space-y-4">
  <div class="flex flex-row items-center gap-5">
    {
      typeof author.image === 'object' && (
        <Img
          image={author.image}
          size="sm"
          class="m-0 aspect-square !h-16 !w-16 rounded-full object-cover"
        />
      )
    }

    <div>
      <div class="font-bold">{author.name}</div>
      <div class="not-prose">
        <a
          href={((project as Project).customer as Customer).websiteUrl}
          class="flex flex-row items-center gap-2 text-sm text-gray-500"
        >
          <Icon name="building" class:list={['h-3 w-3 fill-gray-500']} />
          {((project as Project).customer as Customer).name}
        </a>
      </div>
    </div>
  </div>

  <p class="mb-0">{text}</p>
</Card>
