---
import RichTextLexical from '../RichTextLexical.astro'

type TableNode = any // TODO: find the actual type

type Props = { node: TableNode }

const { node } = Astro.props
---

<div class="overflow-x-auto">
  <table>
    {
      node.children.at(0) && (
        <thead>
          <tr>
            {node.children.at(0).children.map((cell: any) => (
              <th class="text-left">
                <RichTextLexical nodes={cell.children} />
              </th>
            ))}
          </tr>
        </thead>
      )
    }

    <tbody>
      {
        node.children.slice(1).map((row: any) => {
          return (
            <tr class="even:bg-gray-50">
              {row.children.map((cell: any) => (
                <td class="min-w-32 sm:min-w-0">
                  <RichTextLexical nodes={cell.children} />
                </td>
              ))}
            </tr>
          )
        })
      }
    </tbody>
  </table>
</div>
