---
import type { RichTextBlock as RichTextBlockType } from 'cms/src/payload-types'
import RichTextLexical from './RichTextLexical.astro'

type Props = Omit<RichTextBlockType, 'blockType'>

const { text } = Astro.props
---

<div class="prose mx-auto !max-w-none">
  <RichTextLexical nodes={text.root.children} />
</div>
