---
import { getPageData } from '../../cms/getPageData'
import { getStaticPaths as getStaticPathsCms } from '../../cms/getStaticPaths'
import { locales } from '../../cms/locales'
import type { Locale } from '../../cms/types'
import Layout from '../../layout/Layout.astro'

export async function getStaticPaths() {
  return await getStaticPathsCms()
}

const props = Astro.props
const { lang } = Astro.params

if (!locales.includes(lang!)) {
  return Astro.redirect(Astro.url.pathname, 404)
}
const locale = lang as Locale

const pageData = await getPageData(props, locale)
---

<Layout {...pageData} lang={lang}>
  <h1>Hello World</h1>

  {JSON.stringify(pageData, null, 2)}
</Layout>
