---
import { getPageData } from '../../cms/getPageData'
import { getStaticPaths as getStaticPathsCms } from '../../cms/getStaticPaths'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  return await getStaticPathsCms()
}

const props = Astro.props
const { lang } = Astro.params

const pageData = await getPageData(props)
---

<Layout {...pageData} lang={lang}>
  <h1>Hello World</h1>

  {JSON.stringify(pageData, null, 2)}
</Layout>
