---
import { payloadSDK } from '../cms/sdk'
import Link from '../components/ui/Link.astro'

const footer = await payloadSDK.findGlobal({
  slug: 'footer',
  populate: {
    pages: {
      path: true,

      // the following fields are necessary for the virtual path field to be generated
      parent: true,
      slug: true,
    },
  },
})
---

<footer class:list={['fixed z-40 flex w-full items-center justify-between bg-white px-12']}>
  <p class="font-semibold">JHB Software © {new Date().getFullYear()}</p>

  <nav>
    <ul class="flex list-none gap-4">
      {
        footer.links?.map(({ link }) => (
          <li>
            <Link {...link} />
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
