---
import { payloadSDK } from '../cms/sdk'
import { normalizePath } from '../utils/normalizePath'
import Link from '../components/ui/Link.astro'

const header = await payloadSDK.findGlobal({
  slug: 'header',
  populate: {
    pages: {
      path: true,

      // the following fields are necessary for the virtual path field to be generated
      parent: true,
      slug: true,
    },
  },
})

const { lang } = Astro.params
const isPreview = Astro.url.pathname.startsWith('/preview')
---

<header class:list={['fixed z-40 flex w-full items-center justify-between px-12 py-4']}>
  <a href={normalizePath(`/${lang}`, isPreview)} class="flex items-center gap-2">
    <img src={'/icon.png'} alt={'JHB'} width={40} height={40} />
    <span class="text-2xl font-bold">Software</span>
  </a>

  <nav>
    <ul class="flex list-none gap-4">
      {
        header.links?.map(({ link }) => (
          <li>
            <Link {...link} uppercase={false} />
          </li>
        ))
      }
    </ul>
  </nav>
</header>
