---
import type { HeroSection, Page } from 'cms/src/payload-types'
import Section from './Section.astro'
import Link from '../components/ui/Link.astro'

export type Props = HeroSection

const { title, subtitle, links } = Astro.props
---

<Section class="flex flex-col items-center gap-4 pt-32">
  <h1 class="text-center text-4xl font-bold">{title}</h1>
  <p class="text-center">{subtitle}</p>
  <div>
    {links?.map(({ link }) => <Link {...link} />)}
  </div>
</Section>
