---
import type { PageMetaData } from '../cms/getPageData'
import '../styles.css'
import Footer from './Footer.astro'
import Header from './Header.astro'
import SEOMetadata from './SEOMetadata.astro'

type Props = PageMetaData & {
  lang: string
}

const { meta, lang } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

    <SEOMetadata {...meta} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
