---
type Props = {
  class?: string
  sectionClass?: string
}

const { class: className, sectionClass: sectionClassName } = Astro.props
---

<section class:list={[sectionClassName]}>
  <div class:list={['max-w-page mx-auto px-5 md:px-8', className]}>
    <slot />
  </div>
</section>
