---
import Img from '@/components/Img.astro'
import type { AuthorsBlock } from 'cms/src/payload-types'
import { normalizePath } from '../../utils/normalizePath'
import Card from '../cards/Card.astro'

export type Props = AuthorsBlock

const { authors } = Astro.props
const { preview } = Astro.locals.globalState
---

<div class="flex flex-col gap-4">
  {
    authors
      .filter((author) => typeof author === 'object')
      .map((author) => {
        return (
          <Card class="!p-0">
            <a href={normalizePath(author.path, preview)}>
              <div class="flex flex-col items-center gap-4 md:flex-row">
                <div class="w-48 flex-none">
                  {author.photo && typeof author.photo === 'object' && (
                    <Img
                      image={author.photo}
                      size="md"
                      class="m-4 rounded-md md:m-0 md:rounded-r-none"
                    />
                  )}
                </div>

                <div class="flex flex-auto flex-row justify-between gap-8 p-4">
                  <div class="flex flex-col gap-4">
                    <h2 class="my-0 text-lg font-semibold">{author.name}</h2>
                    <div class="text-base font-normal">{author.excerpt}</div>
                  </div>
                </div>
              </div>
            </a>
          </Card>
        )
      })
  }
</div>
