---
import Img from '@/components/Img.astro'
import type { CustomerLogosBlock, Image as ImageType } from 'cms/src/payload-types'

export type Props = CustomerLogosBlock

const { customers } = Astro.props

const logos: ImageType[] = []
for (const customer of customers ?? []) {
  if (typeof customer === 'object' && typeof customer.logo === 'object' && customer.logo) {
    logos.push(customer.logo)
  }
}
---

<div class="border-hairline-strong border-y py-12">
  <ul
    class="grid grid-cols-2 items-center justify-items-center gap-x-8 gap-y-10 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6"
  >
    {
      logos.map((logo) => (
        <li class="flex h-12 w-full items-center justify-center">
          <Img
            image={logo}
            size="original"
            width={120}
            class="ease-standard max-h-12 w-auto opacity-60 grayscale [filter:brightness(0)] transition-opacity duration-200 hover:opacity-100"
          />
        </li>
      ))
    }
  </ul>
</div>
