---
import type { Page, ServicesBlock } from 'cms/src/payload-types'
import Card from '../cards/Card.astro'
import Icon from '../icons/Icon.astro'
import Link from '../Link.astro'

export type Props = ServicesBlock

const { services } = Astro.props
const { labels } = Astro.locals.globalState
---

<div class="grid gap-5 md:grid-cols-3">
  {
    services?.map(({ title, description, page, icon }) => (
      <Card class="flex flex-col items-start justify-between gap-4">
        <div class="flex flex-row items-center gap-3">
          <Icon name={icon} class:list={['h-6 w-6 text-black/80']} />
          <h3 class="m-0 text-lg font-semibold">{title}</h3>
        </div>

        <p>{description}</p>
        <Link
          page={{ relationTo: 'pages', value: page as Page }}
          label={labels.global['learn-more']}
          style="text-primary"
          icon="chevron-right"
        />
      </Card>
    ))
  }
</div>
