---
import { breadcrumbsSchema } from '@/schema/breadcrumbs'
import { Schema } from 'astro-seo-schema'
import type { Breadcrumbs } from 'cms/src/payload-types'
import Link from './Link.astro'

type Props = {
  crumbs: Breadcrumbs
  displayMode?: 'all' | 'lastOnly'
}

const { crumbs, displayMode = 'lastOnly' } = Astro.props

// Generate structured data using the schema function
const schema = breadcrumbsSchema(crumbs)
---

{
  displayMode === 'all' && (
    <nav aria-label="breadcrumbs">
      <ol class="text-ink-500 tracking-eyebrow flex flex-row flex-wrap items-center gap-2 font-mono text-xs uppercase">
        {crumbs
          .map(({ label, path }, index, array) => (
            <li>
              <Link
                path={path}
                style="text"
                class="text-ink-500 ease-standard !py-1 !font-mono !text-xs !font-normal uppercase !no-underline transition-colors duration-150 hover:text-orange-600"
                aria-current={index + 1 === array.length ? 'location' : false}
              >
                {label}
              </Link>
            </li>
          ))
          .reduce((prev, curr) => [
            prev,
            <span aria-hidden="true" class="text-orange-600">
              \
            </span>,
            curr,
          ])}
      </ol>
    </nav>
  )
}

{
  displayMode === 'lastOnly' && crumbs.length > 1 && (
    <nav aria-label="breadcrumbs">
      <ol class="text-ink-500 tracking-eyebrow flex flex-row items-center gap-2 font-mono text-xs uppercase">
        <li>
          <Link
            path={crumbs[crumbs.length - 2].path}
            style="text"
            class="text-ink-500 ease-standard inline-flex items-center !py-1 !font-mono !text-xs !font-normal uppercase !no-underline transition-colors duration-150 hover:text-orange-600"
          >
            {crumbs[crumbs.length - 2].label}
          </Link>
        </li>
        <li aria-hidden="true" class="text-orange-600">
          \
        </li>
      </ol>
    </nav>
  )
}
<Schema item={schema} />
