---
import { dateStringToQuarter } from '@/utils/dateToQuarter'

type Props = {
  startDate: string
  endDate?: string | null
  class?: string
}

const { startDate, endDate, class: className } = Astro.props
const { labels } = Astro.locals.globalState
---

<p class:list={['text-ink-500 font-mono text-xs', className]}>
  {
    endDate ? (
      <>
        <span>{dateStringToQuarter(startDate)}</span>
        {dateStringToQuarter(endDate) !== dateStringToQuarter(startDate) && (
          <>
            <span class="text-ink-300 mx-1">–</span>
            <span>{dateStringToQuarter(endDate)}</span>
          </>
        )}
      </>
    ) : (
      <span>
        {labels.global.since} {dateStringToQuarter(startDate)}
      </span>
    )
  }
</p>
