---
import { dateStringToQuarter } from '@/utils/dateToQuarter'
import { globalState } from '@/globalState'

type Props = {
  startDate: string
  endDate?: string | null
  class?: string
}

const { startDate, endDate, class: className } = Astro.props
const { labels } = globalState
---

<p class:list={[className, 'text-slate-500']}>
  {
    endDate ? (
      <>
        <span>{dateStringToQuarter(startDate)}</span>
        {
          dateStringToQuarter(endDate) !== dateStringToQuarter(startDate) && (
            <>
              <span class="font-semibold"> - </span>
              <span>{dateStringToQuarter(endDate)}</span>
            </>
          )
        }
      </>
    ) : (
      <span>{labels.global.since} {dateStringToQuarter(startDate)}</span>
    )
  }
</p>
